# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/workspace.xml

# gradle
build
.gradle

# other
eclipse
run
run-server
logs
/misc-files/

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/cache
.DS_Store